@import "../../assets/styles/_variables.scss";
.header__div {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  padding-right: 0.1vw;
  background-color: $primaryColor;
  position: sticky;
  top: 0;
}

.header__div div,
.user div {
  display: flex;
  align-items: center;
}

.user {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.5fr;
  background-color: transparent;
}

.avatar__div {
  background-color: transparent;
}

.avatar__div img {
  width: 3vw;
  height: 3vw;
  border-radius: 5vw;
  border: 0.15vw solid $border-color;
}

.name__div {
  margin-left: 0.6vw;
}

.name__div p {
  padding: 0;
  margin: 0;
  font-size: 1.3vw;
  font-weight: bold;
  color: $font-color;
  background-color: $primaryColor;
}

.logoutBtn {
  justify-self: end;
  margin-right: 1vw;
}

.logoutBtn button {
  border: none;
  font-weight: bold;
  font-size: 1.3vw;
  background-color: transparent;
  color: $primaryFontColor;
}
