$timeColor: #0000ff;
$font-color: #ffffff;
$border-color: #000000;
$colorInput: #000000;
$bgInput: #ffffff99;
$receiveColor: #1e88e5;
$sendColor: #0466c8;
$primaryColor: #0000ff;
$primaryFontColor: #ffffff;
